{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segment Street</title>
    <link rel="icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="header" align='justify'>
        <span class="logo">Segment Street</span>
    </div>

    <div id="form" align='center'>
        <form method="post" enctype="multipart/form-data">
            <br>
            {% csrf_token %}
            {{ post_form.as_p}}
            <button onclick="myFunction()" type="submit" class="btn btn-outline-primary btn-lg btn-block" >Upload</button>  

            <a href="./image/" class="btn btn-outline-success btn-lg btn-block" role="button">Segment</a><br><br>
            <script>
                function myFunction() {
                  alert("Image uploaded successfully!\nPress Segment Button");
                }
                </script>
        </form>

    </div>
    <!-- <div align="center">
        <img src="{% static 'background.png' %}" alt="Action" class="center">
    </div> -->
        
</body>
</html>